<!DOCTYPE html>
    <html lang="fr">
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/56cdae3e67.js" crossorigin="anonymous"></script>
        <title>Orinoco, e-commerce spécialisé</title>
    
    </head>

    <body>
      <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar_bg-color">
          <a class="navbar-brand" href="#">
            <div class="col-12 block-navbar-color rounded">
              <p class="title text-body">Orino'Camera</p>
              <p class="text-dark">by<img class="logo" src="../images/orinoco_logo.jpg" alt="logo site ecommerce Orinoco"></p>
            </div>
          </a>
                    

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav desktop-right block-navbar-color pt-4 pr-5 pb-4 pl-5 rounded">
              <a class="nav-item nav-link" href="cart.html">Votre panier<i class="fas fa-shopping-cart"></i></a>
            </div>
          </div>
        </nav>
        
        <div class="bg-title rounded">
          <h1 class="col-12 text-center mt-4 pt-4 pb-4 bg_h2 ">Nos appareils-photos</h1>
        </div>

        <h2 class="intro-text text-center">Choisissez votre boitier...</h2>

        <div id="main" class="bg_main card-deck pt-5 pb-5">
        </div>

      </div>

      <footer>
        <div class="text-center">
          <div>
            <h3>Orino'Camera</h3><p>site de e-commerce d'appareils-photos <br> adaptés à chaque besoin grâce à une large sélection de lentilles</p>
          </div>
          <div class="card-body bg-grey">
            <div class="contact">
              <p>Nous contacter</p>
                <a href="#"><i class="fas fa-phone-alt"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
                <a href="#"><i class="fas fa-at"></i></a>
            </div>
          </div>
        </div>
      </footer>

        


    <script src="index.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous"></script>

    
    </body>



    