// BACKGROUND --------------------------

.container-fluid {
    background-color: $dark_grey;
}

.block-navbar-color {
    background-color: $light_pink;
}

.bg_h2 {
    background-color: $light_pink;
}

.bg-light_pink {
    background-color: $light_pink;
}

.bg-grey {
    background-color: $dark_grey;
}



// FONTS & i -----------------------------
// TITLE  
h1 {
    color: $dark_grey;
    line-height: 2px;
}

h2 {
    color: $dark_grey;
    text-align: center;
}

h3 {
    color: $dark_grey;
    text-align: center;
}

h4 {
    color: $orange;
}

h5 {
    color: $light_pink;
}

// NAVBAR
.navbar i {
    color: $orange;
    font-size: 1.4em;
}

//CONTAINER FLUID
.intro-text {
    color: $light_pink;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

// FORM
.form-text {
    font-size: 1.2em;
    font-weight: bold;
}

label {
    font-weight: bold;
}

// LIEN 
.navbar a {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

// FOOTER
footer i {
    color: $light_pink;
}

footer a {
    text-decoration: none;
    color: $dark_grey;
}



